
@media (max-width: 1050px){
.content{
visibility: visible;
position:relative;
margin: auto;
padding: auto;
width:auto;
padding-top:20px;
padding-bottom:20px;}

.firstslide{
padding: 10% 20px 0% 20px;
}


#home{
position:relative;
margin: auto;
padding-top: 100px;
width:auto;
}

main{
font-size:16px}

    header {
        visibility:hidden;
    }

section{
padding-top: 100px;
padding-left: 40px;
padding-bottom: 70px;
padding-right: 40px;
width: auto;
}
     /* Style the navigation menu */
footer div{
position:fixed;
bottom:0;
left:0;
right:0;
height:50px;
color:rgb(235, 235, 180);
background-color:rgb(31, 23, 12);}

#spanfooter{
	 float: left;
	  padding:10px;
	  	font-size:16px;

}

.showmeinmobile{
display:block;}

.cvrsection hr{
visibility:hidden;
}


}