.slidein{
padding: 100px 15%;
}

.slideinL{
visibility:visible;
position : relative;
animation: animInL 3s;
animation-fill-mode: forwards;
}

.slideinR{
visibility:visible;
position : relative;
animation: animInR 3s;
animation-fill-mode: forwards;
}

.slideoutL{
position : fixed;
animation: animOutL 3s;
animation-fill-mode: forwards;
}

.slideoutR{
position : fixed;
animation: animOutR 3s;
animation-fill-mode: forwards;
}


@keyframes animInL {
0%{
margin-left: 100%;
margin-right:-100%; }
70%{
opacity: 1;}
100%{
margin-left: 0;
margin-right:inherit;}}

@keyframes animInR {
0%{
margin-left: -100%;
margin-right:100%; }
70%{
opacity: 1;
}
100%{
margin-left: 0;
margin-right:inherit;}} 

@keyframes animOutL {
70%{
opacity: 0;
}
100%{
margin-left: 100%;
margin-right:100%;
visibility: hidden;}} 

@keyframes animOutR {
70%{
opacity: 0;
}
100%{
margin-left: 100%;
margin-right:-100%;
visibility: hidden;}} 
