html{scroll-behavior:smooth;}

@font-face {
  font-family: navfont1;
  src: url("../fonts/SourceCodePro-Bold.ttf.woff");
}

@font-face {
  font-family: navfont2;
  src: url("../fonts/JetBrainsMono-Bold.woff2");
}


body {
background-color: rgb(235, 235, 180); /*fffbd5*/
margin:0;
padding:0;
color: rgb(31, 23, 12);
}

a:link, a:visited,  a:hover, a:active{
    color: rgb(121, 110, 58);
    text-decoration: none;
}

body{
font-size: 16px;
width:100%;
}

/* Accessibility + responsive defaults */
img{
  max-width: 100%;
  height: auto;
}

.skip-link{
  position: absolute;
  left: -9999px;
  top: 10px;
  padding: 10px 14px;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  z-index: 1000;
}
.skip-link:focus{
  left: 10px;
}

a:focus-visible, button:focus-visible{
  outline: 3px solid #000000;
  outline-offset: 3px;
}
